*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dkblue: hsl(249, 10%, 26%);
  --grayblue: hsl(246, 25%, 77%);
}

body {
  background-image: url('images/bg-intro-desktop.png');
  background-color: var(--red);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 52px;
  line-height: 1.2;
  padding-bottom: 2rem;
}

.description, .trial_and_form {
  width: 40%;
  margin: 0 2rem;
}

.description {
  color: white;
}

.trial_and_form > div {
  margin: 1.5rem 0;
}

.trial {
  color: white;
  background-color: var(--blue);
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px hsla(0, 0%, 0%, 0.15);
}

.trial span {
  font-weight: bold;
}

.contact_form {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px hsla(0, 0%, 0%, 0.15);
}

.contact_form input {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
}

.contact_form input[type=submit] {
  color: white;
  background-color: var(--green);
  border: 1px solid hsl(153, 56%, 43%);
  border-bottom: 3px solid hsl(153, 56%, 43%);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

.error_message {
  font-size: 10px;
  text-align: right;
  color: var(--red);
  font-style: italic;
  font-weight: 500;
  display: none;
}

.contact_form input[type=submit]:hover {
  cursor: pointer;
  background-color: hsla(154, 59%, 51%, 0.5);
  border: 1px solid hsl(153, 56%, 43%, 0.3);
  border-bottom: 3px solid hsl(153, 56%, 43%, 0.5);
}

.terms {
  color: rgb(201, 201, 201);
  font-size: 10px;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
}

.terms span {
  color: var(--red);
  font-weight: bold;
}

@media (max-width: 850px) {
  .description, .trial_and_form {
    width: 100%;
  }
  h1, p {
    text-align: center;
  }
}